* {
    padding: 0%;
    margin: 0%;
    box-sizing: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at bottom left,transparent 25%,#9dc9c1 25.5%, #9dc9c1 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,#9dc9c1 34.5%, #9dc9c1 45.5%, transparent 46%, transparent 100%);
        background-size: 3em 3em;
        background-color: #fab2b2;
        opacity: 0.95
}

h1.title {
    font-weight: bolder;
    font-size: 6rem;
    padding-bottom: 2vh;
}

 p.title {
   font-style: italic;
   padding-bottom: 5vh;
}

input.cityInp {
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
}

button.cityInp {
    cursor: pointer;
    width: 100px;
    height: 45px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;

}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}

div.polaroid {
  margin-top: 4vh;
  background-color:rgb(170, 170, 158);
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}